/* GLOBAL */
@font-face {
    font-family: 'ShareTech';
    src: url('assets/ShareTech-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'ShareTech';
    background: #f2f3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
header {
    width: 100%;
    padding: 15px 35px;
    background: #b4b2ff;
    border-bottom: 3px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 22px;
    font-weight: 700;
    padding-left: 15px;
}

.header-right {
    display: flex;
    gap: 12px;
    padding-right: 25px;
}

.header-btn {
    width: 42px;
    height: 42px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    cursor: pointer;
}

/* PANELS */
.panel,
.sensor-card,
.alert-panel,
.status-panel {
    background: #cdcaff;
    border: 3px solid #333;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

/* TITLES */
.title {
    display: inline-block;
    background: #dad8ff;
    padding: 6px 18px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 2px solid #000;
    font-size: 17px;
    text-align: center;
    width: fit-content;
}

/* LAYOUT */
.container {
    width: 92%;
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-col,
.right-col {
    flex: 1;
}

.right-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* STATUS PANEL */
.status-panel {
    padding: 25px;
}

.status-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.state-box {
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.active {
    background: #b7ffb7;
}

.inactive {
    background: #ffb7b7;
}

/* MANUAL CONTROL */
.panel-row {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.control-card {
    padding: 20px;
    background: #cdcaff;
    border: 3px solid #333;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.control-title {
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.control-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.manual-btn {
    background: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* SENSOR READINGS */
.sensor-grid {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 25px;
}

.sensor-card {
    width: 160px;
    height: 180px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sensor-label {
    background: #fff;
    padding: 5px 12px;
    border: 2px solid #777;
    border-radius: 12px;
}

.sensor-display {
    width: 85%;
    height: 100px;
    margin-top: 20px;
    background: #e0dfff;
    border-radius: 12px;
    border: 2px solid #000;
}

/* ALERT PANEL */
.alert-panel {
    padding: 20px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-inner {
    width: 100%;
    padding: 20px;
    background: #e8e6ff;
    border: 2px solid #000;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}


.sensor-card:hover,
.simple-box:hover,
.status-panel:hover,
.alert-panel:hover,
.manual-btn:hover {
    box-shadow: 0px 6px 14px rgba(0,0,0,15);
}

/* FOOTER */
footer {
    width: 100%;
    padding: 12px;
    background: #b4b2ff;
    border-top: 3px solid #000;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .sensor-grid {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .panel-row {
        flex-direction: column;
        align-items: center;
    }

    .control-card {
        width: 100%;
    }
}
