
/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    background: #f2f3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */
header {
    width: 100%;
    padding: 15px 35px;
    background: #b4b2ff;
    border-bottom: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-left: 15px;
}

/* Header Button Wrapper */
.header-right {
    display: flex;
    gap: 12px;
    padding-right: 25px;
}

/* Header Buttons */
.header-btn {
    width: 42px;
    height: 42px;
    border: 2px solid #000;
    background: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;

}

/* CONTENT CONTAINER */
.container {
    width: 92%;
    margin-top: 30px;
}

/* Section Titles */
.title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 17px;
    padding: 6px 18px;
    border-radius: 30px;
    background: #dad8ff;
    border: 2px solid #000;
    display: inline-block;
}



/* LAYOUT ROW */
.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* STATUS PANEL */
.status-panel {
    width: 100%;
    background: #cdcaff;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid #333;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.12);
}

.status-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.status-item,
.status-state {
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

/* Hover Glow */
.status-item:hover,
.status-state:hover {
    box-shadow: 0px 4px 10px rgba(0,0,0,15);
}

.active { background: #b7ffb7; }
.inactive { background: #ffb7b7; }

/* SENSOR CARDS */
.sensor-grid {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.sensor-card {
    width: 160px;
    height: 180px;
    background: #cdcaff;
    border-radius: 18px;
    border: 3px solid #333;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.12);
    transition: 0.2s;
}

/* Hover animation */
.sensor-card:hover {
    box-shadow: 0px 8px 14px rgba(0,0,0,12);
}

.sensor-label {
    background: #ffffff;
    padding: 5px 12px;
    border-radius: 12px;
    border: 2px solid #777;
    font-size: 13px;
}

.sensor-display {
    width: 85%;
    height: 100px;
    margin-top: 20px;
    background: #e0dfff;
    border-radius: 12px;
    border: 2px solid #000;
}

/* FOOTER */
footer {
    width: 100%;
    padding: 12px 0;
    background: #b4b2ff;
    text-align: center;
    font-size: 14px;
    border-top: 3px solid #000;
    margin-top: 40px;
}
